.chiadoi {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
}

.column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.left-column {
    flex: 8;
}

.right-column {
    flex: 4;
}

/* Chia 5 */

.chianam {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.column5 {
    box-sizing: border-box;
    text-align: center;
}

/* Chia 2 */

.chiahai {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.grid-container2 {
    display: grid;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    grid-template-columns: 1fr 1fr;
}

.column2 {
    box-sizing: border-box;
    text-align: center;
}
.column2:nth-child(1) {
    margin-right: 5px;
}

.column2:nth-child(2) {
    margin-left: 5px;
}